<div class="container mt-4">
  <div class="row">
    <div class="col-4 ">
      <div class="bg-primary p-3">
          <input  [(ngModel)]="contact.name" type="text" class="form-control mt-2" placeholder="Name">
          <input  [(ngModel)]="contact.family" type="text" class="form-control mt-2" placeholder="Family">
          <input  [(ngModel)]="contact.phone" type="text" class="form-control mt-2" placeholder="Phone">
          <button (click)="add()" class="btn btn-default mt-2">Save/Update</button>
      </div>
    </div>
    <div class="col-8 ">
      <div class="bg-warning">
 <table class="table table-bordered p-3">
        <thead>
          <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Family</th>
          <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contacts">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.family }}</td>
            <td>{{ item.phone }}
              <span (click)="edit(item)" class="badge badge-info float-right mr-1">edit</span>
              <span (click)="remove(item.id)" class="badge badge-danger float-right mr-1">remove</span>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
     
    </div>
  </div>
</div>


